
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> vscode workspace settings ###
/.vscode/
###< vscode workspace settings ###

###> custom app settings ###
/public/app-media/*
###< custom app settings ###
